html,
body {
    margin: 0;
    padding: 0;
    font-family: "f-f";
}

@font-face {
    font-family: "f-f";
    src: url(../Fonts/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: "s-f";
    src: url(../Fonts/MuktaMahee-ExtraLight.ttf);
}

@font-face {
    font-family: "th-f";
    src: url(../Fonts/MuktaMahee-ExtraBold.ttf);
}

.first-section {
    width: 100%;
    height: 700px;
    background-image: url(../IMG/hero_1.jpg.webp);
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: all 1s 0s ease;
}
 

.header {
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.233);
}

.header-content-1 {
    width: 100%;
    height: 21.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md {
    width: 50%;
    height: fit-content;
}

.md-1 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.hepta {
    width: 20%;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 15px;
    cursor: pointer;
    overflow: auto;
}

.menu {
    width: 70px;
    height: 100%;
    cursor: pointer;
}


.header-content-2 {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-in {
    width: 90%;
    height: 100%;
}

h1 {
    margin-top: 25px;
    width: 100%;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    font-weight: bolder;
    color: #FFFFFF;
}

.sub-heading {
    font-size: 29px;
    color: #FFF;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "s-f";
    margin-top: -60px;
}

.colorlib-txt {
    color: #ffffff80;
    border-bottom: 2px solid #ffffff60;
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
    font-size: 30px;
}

.colorlib-txt:hover {
    border-color: #FFFFFF;
    color: #FFFFFF;
    transition: .3s all;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-linkbox {
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .2em;
    padding-left: 30px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 30px;
    border: #FFF solid 2px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 13px;
}

.button-linkbox:hover {
    background-color: white;
    color: black;
    transition: .3s all;
}

.header-content-3 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc-b {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.sc-u {
    width: 100%;
    height: 55%;
    text-align: center;
    margin: 0;
    font-size: 40px;
    color: #FFF;
}

.sc-d {
    width: 100%;
    height: 45%;
    text-align: center;
    margin: 0;
    font-family: "s-f";
    font-size: 12px;
    color: #FFF;
}